<h1>Fancy a good cup of coffee?<br>So do we.<br>Welcome to Coffee Run!</h1>

<div class="row nero">
    <div class="col-md-8">
        <img src="images/cups.png" width="100%"/>
    </div>
    <div class="col-md-4">
        <h2>Why Nero</h2>
        <p>
            Because we’ve got high standards. Founded in 1997, Caffè Nero aim to bring a premium, continental-style caffè to Great Britain. Caffè Nero is a European coffee house brand specialising in the creation of high quality Italian coffee.
        </p>
    </div>
</div>
<div class="clearfix">

</div>

<div class="row stuff text-center">
    <h2 class="text-uppercase">Coffee Stuff</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <img src="images/01.png" width="100%" alt="" />
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase">Love</h6>
                <h4 class="text-uppercase">Have</h4>
                <p>
                    you
                </p>
            </div>
            <div class="col-md-4">
                <img src="images/02.png" width="100%" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase">Tree</h6>
                <h4 class="text-uppercase">Starbucks</h4>
                <p>
                    no
                </p>
            </div>
            <div class="col-md-4">
                <img src="images/03.png" width="100%" alt="" />
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase">Water</h6>
                <h4 class="text-uppercase">Expect</h4>
                <p>
                    by
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row work">
    <h2 class="text-uppercase text-center">How Does it Work?</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-1.png" alt="" />
                </p>
                <h4>1</h4>
                <p>
                    a
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-2.png" alt="" />
                </p>
                <h4>2</h4>
                <p>
                    b
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-3.png" alt="" />
                </p>
                <h4>3</h4>
                <p>
                    c
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-4.png" alt="" />
                </p>
                <h4>4</h4>
                <p>
                    d
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row where">
    <h2 class="text-uppercase text-center">But where do I get the coffee?</h2>
    <p class="text-center col-md-8 col-md-offset-2">
        If you
    </p>
    <div class="col-md-10 col-md-offset-1">
        <img src="images/map.png" width="100%" alt="" />
    </div>
</div>

<div class="row logos">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="images/slack.png" alt="" />
            </div>

            <div class="col-md-4 text-center">
                <img src="images/ovo.png" alt="" />
            </div>

            <div class="col-md-4 text-center">
                <img src="images/nero.png" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="clearfix">

</div>
