<h1>Fancy a proper cup of coffee?<br>Welcome to Coffee Run!</h1>

<div class="row nero">
    <div class="col-md-8">
        <img src="images/cups.png" width="100%"/>
    </div>
    <div class="col-md-4">
        <h2>Why Nero?</h2>
        <p>
            Because we’ve got high standards. Founded in 1997, Caffè Nero aim to bring a premium, continental-style caffè to Great Britain. Caffè Nero is a European coffee house brand specialising in the creation of high quality Italian coffee.
        </p>
    </div>
</div>
<div class="clearfix">

</div>

<div class="row stuff text-center">
    <h2 class="text-uppercase">Coffee Stuff</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <img src="images/01.png" width="100%" alt="" />
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase">Love</h6>
                <h4 class="text-uppercase">Have your coffee delivered to your desk</h4>
                <p>
                    Can we interest you in a free coffee and some exercise? If that’s not your cup of tea, how about a coffee delivered to your desk? Winning either way! 
                </p>
            </div>
            <div class="col-md-4">
                <img src="images/02.png" width="100%" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase">Tree</h6>
                <h4 class="text-uppercase">Starbucks’s overrated. And their coffee sucks.</h4>
                <p>
                    Fact. You should feel bad if you somehow like it. Also, they are still using the wrong green.  
                </p>
            </div>
            <div class="col-md-4">
                <img src="images/03.png" width="100%" alt="" />
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase">Water</h6>
                <h4 class="text-uppercase">Productivity will soar</h4>
                <p>
                    Using our app will increase your coffee consumption by 235%. Recent studies conducted by the OVO Institute for Research have suggested that you’ll also be 10 x more productive. Not bad. Not bad at all. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row work">
    <h2 class="text-uppercase text-center">How Does it Work?</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-1.png" alt="" />
                </p>
                <h4>I want a free coffee</h4>
                <p>
                    Deliver your colleagues’ coffee orders and get yours for free. 
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-2.png" alt="" />
                </p>
                <h4>Ready. Set. Coffee Run!</h4>
                <p>
                    The app will send a Slack notification altering everyone of the coffee run.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-3.png" alt="" />
                </p>
                <h4>You snooze you lose</h4>
                <p>
                    Every Coffee Run session lasts 10 minutes or until 4 orders have been submitted. 
                </p>
            </div>
            <div class="col-md-3 text-center">
                <p>
                    <img src="images/how-4.png" alt="" />
                </p>
                <h4>Free coffee you cheapo</h4>
                <p>
                    You get the drinks and everyone shares the price of your coffee. Winning. All the way. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row where">
    <h2 class="text-uppercase text-center">I'm game! Where's Caffè Nero? </h2>
    <p class="text-center col-md-8 col-md-offset-2">
        If you don’t know where Nero is, you definitely need a coffee to wake up! And some fresh air will do you good. Nero is only a five-minute walk away, by the closest Notting Hill Gate tube stop. 
    </p>
    <div class="col-md-10 col-md-offset-1">
        <img src="images/map.png" width="100%" alt="" />
    </div>
</div>

<div class="row logos">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="images/slack.png" alt="" />
            </div>

            <div class="col-md-4 text-center">
                <img src="images/ovo.png" alt="" />
            </div>

            <div class="col-md-4 text-center">
                <img src="images/nero.png" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="clearfix">

</div>
