<div class="row" ng-show="!loading">
    <p>
        Choose your location please:
    </p>
    <div class="col-xs-6 text-center" ng-repeat="location in locations">
        <button class="text-capitalize btn btn-primary btn-block" ng-click="chooseLocation(location)">
            {{location}}
        </button>
    </div>
</div>

<div class="row action" ng-show="location">
    <div class="col-xs-6 text-center">
        <button class="btn btn-primary btn-block" ng-click="chooseOrderType('start')">
            Who wants coffee?
        </button>
    </div>
    <div class="col-xs-6 text-center">
        <button class="btn btn-primary btn-block" ng-click="chooseOrderType('add')">
            I want coffee!
        </button>
    </div>
</div>

<div class="row" ng-show="orderType">
    <div class="progress" ng-hide="menu">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>

    <menu ng-show="menu" model="menu" item="item">

    </menu>
</div>

<div class="row" ng-show="item.name">
    <div class="col-xs-6 text-center">
        <button class="text-capitalize btn btn-primary btn-block" ng-click="createOrder()">
            Create Order
        </button>
    </div>
</div>
