<div class="row">
    <div class="col-md-3 col-xs-6" ng-repeat="product in model.products">
        <p>
            {{product.name}}
        </p>

        <div class="row">
            <button class="col-xs-4" ng-repeat="size in product.sizes" ng-click="selectProduct(product, size)">
                {{size.name}} <br> {{size.price}}£
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-6" ng-repeat="special in model.specials">
        <p>
            {{special.name}}
        </p>

        <div class="row">
            <button class="col-xs-4" ng-repeat="size in special.sizes" ng-click="selectProduct(special, size)">
                {{size.name}} <br> {{size.price}}£
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-6" ng-repeat="extra in model.extras" ng-click="selectExtra(extra)">

            <button>
                {{extra.name}} <br> {{extra.price}}£
            </button>
    </div>
</div>
